<form action="/login" method="post">
    <input type="text" id="username" name="username" placeholder="username"/>
    <input type="password" id="password" name="password" placeholder="pw" />
    <input type="submit" value="login" />
</form>
or <a href="/register">register</a>
