<form action="/register" method="post">
    <input type="text" id="username" name="username" placeholder="username"/>
    <input type="password" id="password" name="password" placeholder="pw" />
    <input type="submit" value="register" />
</form>
or <a href="/login">login</a>
